<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.3.1" targetFramework="net40" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net40" requireReinstallation="True" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.3.4.13329" targetFramework="net40" requireReinstallation="True" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="4.3.4.13329" targetFramework="net40" requireReinstallation="True" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.4.13329" targetFramework="net40" requireReinstallation="True" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.4.13329" targetFramework="net40" requireReinstallation="True" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.4.13329" targetFramework="net40" requireReinstallation="True" />
  <package id="DotNetOpenAuth.OAuth2.ResourceServer" version="4.3.4.13329" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.2" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net40" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net40" requireReinstallation="True" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" requireReinstallation="True" />
</packages>