[Oo]bj/
[Bb]in/
TestResults
TestResult.xml
drops
*.VisualState.xml
StyleCop.Cache
*.LDF
*~
PrecompiledWeb
*.suo
*.log
*.cache
*.user
*.tmp
*.ldf
*.mdf
*.swx
deploy
deploy/*
artifacts/log
artifacts/
packages/
/TestResults
.dotest
*.Publish.xml
*.dbproj.schemaview
_ReSharper*
*.vs10x
*.docstates

/lib/DotNetOpenAuth.AspNet.Test.dll
/lib/DotNetOpenAuth.AspNet.Test.pdb
/lib/DotNetOpenAuth.AspNet.dll
/lib/DotNetOpenAuth.AspNet.pdb
/lib/DotNetOpenAuth.AspNet.xml
/lib/DotNetOpenAuth.Core.UI.dll
/lib/DotNetOpenAuth.Core.UI.pdb
/lib/DotNetOpenAuth.Core.UI.xml
/lib/DotNetOpenAuth.Core.dll
/lib/DotNetOpenAuth.Core.pdb
/lib/DotNetOpenAuth.Core.xml
/lib/DotNetOpenAuth.InfoCard.UI.dll
/lib/DotNetOpenAuth.InfoCard.UI.pdb
/lib/DotNetOpenAuth.InfoCard.UI.xml
/lib/DotNetOpenAuth.InfoCard.dll
/lib/DotNetOpenAuth.InfoCard.pdb
/lib/DotNetOpenAuth.InfoCard.xml
/lib/DotNetOpenAuth.OAuth.Common.dll
/lib/DotNetOpenAuth.OAuth.Common.pdb
/lib/DotNetOpenAuth.OAuth.Common.xml
/lib/DotNetOpenAuth.OAuth.Consumer.dll
/lib/DotNetOpenAuth.OAuth.Consumer.pdb
/lib/DotNetOpenAuth.OAuth.Consumer.xml
/lib/DotNetOpenAuth.OAuth.ServiceProvider.dll
/lib/DotNetOpenAuth.OAuth.ServiceProvider.pdb
/lib/DotNetOpenAuth.OAuth.ServiceProvider.xml
/lib/DotNetOpenAuth.OAuth.dll
/lib/DotNetOpenAuth.OAuth.pdb
/lib/DotNetOpenAuth.OAuth.xml
/lib/DotNetOpenAuth.OAuth2.AuthorizationServer.dll
/lib/DotNetOpenAuth.OAuth2.AuthorizationServer.pdb
/lib/DotNetOpenAuth.OAuth2.AuthorizationServer.xml
/lib/DotNetOpenAuth.OAuth2.Client.UI.dll
/lib/DotNetOpenAuth.OAuth2.Client.UI.pdb
/lib/DotNetOpenAuth.OAuth2.Client.UI.xml
/lib/DotNetOpenAuth.OAuth2.Client.dll
/lib/DotNetOpenAuth.OAuth2.Client.pdb
/lib/DotNetOpenAuth.OAuth2.Client.xml
/lib/DotNetOpenAuth.OAuth2.ClientAuthorization.dll
/lib/DotNetOpenAuth.OAuth2.ClientAuthorization.pdb
/lib/DotNetOpenAuth.OAuth2.ClientAuthorization.xml
/lib/DotNetOpenAuth.OAuth2.ResourceServer.dll
/lib/DotNetOpenAuth.OAuth2.ResourceServer.pdb
/lib/DotNetOpenAuth.OAuth2.ResourceServer.xml
/lib/DotNetOpenAuth.OAuth2.dll
/lib/DotNetOpenAuth.OAuth2.pdb
/lib/DotNetOpenAuth.OAuth2.xml
/lib/DotNetOpenAuth.OpenId.Provider.UI.dll
/lib/DotNetOpenAuth.OpenId.Provider.UI.pdb
/lib/DotNetOpenAuth.OpenId.Provider.UI.xml
/lib/DotNetOpenAuth.OpenId.Provider.dll
/lib/DotNetOpenAuth.OpenId.Provider.pdb
/lib/DotNetOpenAuth.OpenId.Provider.xml
/lib/DotNetOpenAuth.OpenId.RelyingParty.UI.dll
/lib/DotNetOpenAuth.OpenId.RelyingParty.UI.pdb
/lib/DotNetOpenAuth.OpenId.RelyingParty.UI.xml
/lib/DotNetOpenAuth.OpenId.RelyingParty.dll
/lib/DotNetOpenAuth.OpenId.RelyingParty.pdb
/lib/DotNetOpenAuth.OpenId.RelyingParty.xml
/lib/DotNetOpenAuth.OpenId.UI.dll
/lib/DotNetOpenAuth.OpenId.UI.pdb
/lib/DotNetOpenAuth.OpenId.UI.xml
/lib/DotNetOpenAuth.OpenId.dll
/lib/DotNetOpenAuth.OpenId.pdb
/lib/DotNetOpenAuth.OpenId.xml
/lib/DotNetOpenAuth.OpenIdInfoCard.UI.dll
/lib/DotNetOpenAuth.OpenIdInfoCard.UI.pdb
/lib/DotNetOpenAuth.OpenIdInfoCard.UI.xml
/lib/DotNetOpenAuth.OpenIdOAuth.dll
/lib/DotNetOpenAuth.OpenIdOAuth.pdb
/lib/DotNetOpenAuth.OpenIdOAuth.xml