@{
    ViewBag.Title = "Database Creation";
}

@if (ViewData["Success"] != null) {
    <p>
        Database (re)created!
    </p>
    <p>
        Note that to be useful, you really need to either modify the database to add an account with data that will be accessed by this sample, or modify HomeController to inject that data into the database.
    </p>
}
@if (ViewData["Error"] != null) {
    <p class="alert alert-error">
        @ViewData["Error"]
    </p>
}