@if (!ViewBag.DBExists) {
    <p>Be sure to <a class="btn btn-primary btn-mini" href="@Url.Action("CreateDatabase")" >Create the sample database</a></p>
} else {
    <p>All good. Try out <a href="http://localhost:49907/">the client sample</a></p>
}